



/* 
   ======= Body stiil ======== 
*/
   
body {
	background-image: url('img/pattern2.png');
	color: #191C1E;
	font-size: 80%; /* Fonti suuruseks on 80% 14-st pikslist */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: left;
	padding: 0;
	margin: 0;
	line-height: 1.6;
	}
	
.body {
	clear: both; 
	width: 60%;
	margin: 0 auto; 

}
	
/* 
   ========= Pealkirjad ======== 
*/
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin-bottom: .8em;
	line-height: 1.1;

}

/*
   ======= Lingid ====== 
*/
a {
	outline: 0;
	}

a img {
	border: 0px; 
	text-decoration: none;
}

a:link, a:visited {
	color: #3366CC;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	background-color: #3366CC;
	color: #fff;
	text-decoration: none;
}

/* 
   ===== Menüü ===== 
 */
   
.mainHeader nav {
	background: #666; /*Menüü tagatausta värvi muutmine*/
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	
.mainHeader nav ul {
	list-style: none; 
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left; 
	display: inline; 
}
	
.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background: #3366CC;
	color: #fff;
	text-shadow: none;
}
	
.mainHeader nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader img {
	width: 35%;
	margin: 2% 0;
	height: auto;
}

/* 
   ======= Postituste sisu ====== 
 */

.mainContent {
	overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.topcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;	
	margin-bottom: 3%;
}


.post-info {
	font-style: italic;
	color: #999;
	font-size: 85%;
	}
	
.content {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}


}